# **Data Types and Structures**

# Theoretical Questions

1. What are data structures, and why are they important?
  - Data structures are ways to organize, manage, and store data in Python effeciently. They are important because they help in optimizing performance, improve data in python. For Example: lists, tuples, dictionaries, and sets in Python.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types are the data types that can be changed after creation. For Example: list , dictionaries and sets.
   - Immutable data types are the data types that cannot be changed. For Example: Strings , Tuples.

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable that mean that their elements can be changed, added, or can be removed. Lists use square brackets for ex: my_list = [1, 2, 3]. Lists are used when elements are need to be modified or changed frequently.
  - Tuples are immutable that means once created their elements cannot be modified or changed. Tuples use parentheses for exx: my_tuple = (1, 2, 3). Tuples are used for fixed collections of items such as employees id.

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs, allowing fast retrieval. Internally, they use hash tables for quick lookups. For ex: my_dict = {"name": "abc", "age": 21}. If you type print(my_dict["name"]) the output will be 'abc'.

5. Why might you use a set instead of a list in Python?
  -  We Should use sets instead of list when we need to store a collection of unique elements where order doesn't matter. For ex: s = {1 , 2 , 3 , 3 , 4 , 4} and now if use print(s) the output will be {1, 2, 3 , 4} the duplication of elements are removed.

6. What is a string in Python, and how is it different from a list?
  - A string is an immutable it has bunch of characters int it, while a list is a mutable sequence of elements. For ex: my_string = "hello" , my_list = [1, 2 , 'abc' , 7]

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, data inside them cannot be changed which mighht help in preventing accidental modification. This helps in storing fixed data like employee id. For ex: employee_id = (a21 , a22) and if someone try to change it like employee_id[0] = a22 it will throw an error.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that helps keys to understand their values using a hash function. Python dictionaries are implemented using hash tables, allowing fast lookups of key values.

9. Can lists contain different data types in Python?
  - Yes, lists can contain any value if it is a string , integer , booleon , Float. For ex: my_list = [1 , 2, 3.4  , "abc" , True].

10. Explain why strings are immutable in Python.
  - Strings are immutable so that there can be no altering of the data when using other string . It is basically immutable so that programmers cannot alter the contents of the object (even by mistake).

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries provide a quick advantage over lists when you need to quickly look up a specific value based on a key. For ex: emp_phonebook = {"a": 1234,
    "b": 4567} and if you want to access the phonebook of a specific employee then print(emp_phonebook["a"]) the output will be 1234.

12. Describe a scenario where using a tuple would be preferable over a list.
   - When storing constant data like employee id, database records where values should not be changed at any cost. It is needed when an immutable collection is implemented and there elements should not change after the creation.

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates elements when they are added. For ex: my_set = {1, 2 , 2 , 3 , 3 , 4 , 4 ,4} when you write print(my_set) the output will be {1 , 2 , 3 , 4}.

14. How does the “in” keyword work differently for lists and dictionaries?
   - The keyword "in" helps in finding the element that is present in list and dictionaries if the element is there then the output would be True if not then it will be False.

15. Can you modify the elements of a tuple? Explain why or why not.
 - No, tuples are immutable which means their elements cannot be changed. For ex: emp_name = ["a" , "b" , "c"] if you try to change the element like this emp_name[0] = "e" then it will throw an error.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary inside another dictionary. For ex: employees = {"Karan" {"age": 25, "department": "sales"} ,
   "Anushka"{"age": 23, "department": "marketing"}}

17. Describe the time complexity of accessing elements in a dictionary.
   - Accessing a value in a dictionary has an O(1) time complexity due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
   - When all the elements should be in order
   - When storing an sequential data

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries use hash function to store data, meaning elements are not stored in a fixed order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists are ordered collections of items, whereas the dictionary is an unordered collection of data in a key: value pair. A list retrieves data based on its position (index) within the sequence, while a dictionary retrieves data using a unique key associated with each value.

# Practical Questions

In [ ]:
# 1. Create a string with your name and print it
name = "Vipransh Nautiyal"
print(name)

Vipransh Nautiyal

In [ ]:
# 2. Find the length of the string "Hello World"
string = "Hello World"
len(string)

11

In [ ]:
# 3. Slice the first 3 characters from "Python Programming"
s = "Python Programming"
s[0:3]

'Pyt'

In [ ]:
# 4. Convert "hello" to uppercase
s = "hello"
s.upper()

'HELLO'

In [ ]:
# 5. Replace "apple" with "orange" in "I like apple"
f = "I like apple"
f.replace("apple", "orange")

'I like orange'

In [ ]:
# 6. Create a list with numbers 1 to 5 and print it
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
s = a[1]
print(s)

b

In [ ]:
# 10. Reverse the list [10, 20, 30, 40, 50]
r = [10, 20, 30, 40, 50]
r.reverse()
print(r)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Create a tuple with elements 100, 200, 300 and print it
t1 = (100, 200, 300)
print(t1)

(100, 200, 300)

In [ ]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t1 = ('red', 'green', 'blue', 'yellow')
t1[1:4]

('green', 'blue', 'yellow')

In [ ]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
t1 = (10, 20, 5, 15)
min(t1)

5

In [ ]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [ ]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [ ]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
n = {1, 2, 3, 4, 5}
n.clear()
print(n)

set()

In [ ]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
n = {1, 2, 3, 4}
n.remove(4)
print(n)

{1, 2, 3}

In [ ]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = ({2, 3, 4})
print(s1 & s2)

{2, 3}

In [ ]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "raj", "age": 30, "city": "New Delhi"}
print(person)

{'name': 'raj', 'age': 30, 'city': 'New Delhi'}

In [ ]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
p = {'name': 'John', 'age': 25}
p["country"] = "USA"
print(p)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [ ]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a["age"]
print(a)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [ ]:
# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [14]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the resul
import random
a = random.sample(range (1,100), 5)
a.sort()
print(a)

[22, 27, 44, 49, 67]

In [6]:
# 28. Create a list with strings and print the element at the third index
s = ["a", "b", "c", "d"]
s[3]

'd'

In [9]:
# 29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1 | dict2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
# 30. Convert a list of strings into a set
s = ["a", "b", "c", "a"]
set(s)

{'a', 'b', 'c'}